<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.rubypaper.mapper.CartMapper">

	<insert id="cartInsert">
		INSERT INTO cart (cart_id, user_id, shoes_id, quantity, size)
		SELECT COALESCE(MAX(cart_id) + 1, 1), #{user_id}, #{shoes_id}, #{quantity}, #{size}
		FROM cart
	</insert>
	
	<select id="cartFindList" resultType="Map">
		SELECT cart.shoes_id, cart.quantity, shoes.shoes_price, cart.size, shoes.shoes_name
		FROM cart, shoes
		WHERE cart.is_delete = 0 and cart.shoes_id = shoes.shoes_id
		ORDER BY cart.cart_id ASC
	</select>
	
	<select id="cartCheckShoesId">
		select shoes_id
		from cart	 
		where shoes_id = #{shoes_id}
	</select>
	
	<!-- MyBatis XML에서 SQL 업데이트 쿼리 정의 -->
	<update id="cartUpdateIsDelete" parameterType="String">
	    update cart
	    set is_delete = 1
	    where shoes_id = #{shoes_id}
	</update>

	
	<delete id="cartDeleteShoesId">
		delete from cart	 
		where is_delete = 1
	</delete>
	
	<select id="numberOfCart" resultType="int">
		select MAX(cart_id)
		from cart
	</select>
</mapper>