<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.rubypaper.mapper.ShoesMapper">

	<select id="randSelectShoesId"  resultType="Map">
		SELECT shoes_id, shoes_name, shoes_price
		FROM shoes
		ORDER BY RAND()
		LIMIT 3;
	</select>
	
</mapper>