<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.rubypaper.mapper.TotalMapper">
	
	<select id="randSelectShoesId"  resultType="Map">
		SELECT shoes_id, shoes_name, final_price
		FROM shoes
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="searchsMain"  resultType="Map">
		SELECT shoes_id, shoes_name, final_price
		FROM shoes
		WHERE shoes_Name Like CONCAT('%',#{searchWord},'%')
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="searchAdminPageShoes"  resultType="Map">
		SELECT shoes_id, shoes_name, shoes_price, sales, num_like, final_price
		FROM shoes
		WHERE shoes_Name Like CONCAT('%',#{searchWord},'%')
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="shoesCount" resultType="Integer">
		SELECT count(*) 
		FROM shoes 
		where is_delete = 0;
	</select>
	
	<select id="searchShoesCount" resultType="Integer" parameterType="String">
		SELECT count(*) 
		FROM shoes 
		where is_delete = 0 and
		shoes_Name LIKE CONCAT('%',#{shoes_Name},'%');
	</select>

	<select id="adminPageSelectShoesList" resultType="Map">
		select shoes_id, shoes_name, shoes_price, sales, num_like, final_price
		from shoes
		where is_delete = 0
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="adminPageSelectAdminAccount" resultType="Map">
		select user_id, name, email
		from user
		where user_id = "admin";
	</select>
	
	<update id="adminPageUpdateShoesInfo">
		update shoes
		set shoes_price = #{shoes_price}, sales = #{sales}, final_price = #{final_price}
		where shoes_name = #{shoes_name};
	</update>
	
	<delete id="adminPageDeleteShoesInfo">
		Delete 
		from shoes
		where shoes_name = #{shoes_name};
	</delete>
	
	<insert id="adminPageShoesInsert">
		insert into shoes (shoes_id, shoes_name, shoes_price, final_price)
		values (#{shoes_id}, #{shoes_name}, #{shoes_price}, #{final_price})
	</insert>
	
	<!-- <insert id="userInsert">
		INSERT INTO User (idx, user_id, name, birthday,  pw, adress, detail_adress, email, salt, phone, is_Status)
		SELECT COALESCE(MAX(idx) + 1, 1), #{user_id}, #{name}, #{birthday}, #{pw}, #{adress}, #{detail_adress}, #{email}, #{salt}, #{phone}, #{is_Status}
		FROM User
	</insert> -->
	
	<select id="myPageUserDataSet" resultType="Map" >
		select user_id, name, birthday, adress, detail_adress, email, phone
		from User 
		where user_id = #{user_id};
	</select>
	
	<select id="adminPageSelectUserList" resultType="Map">
		SELECT user_id, name, adress, birthday, phone
		FROM user
		WHERE user_id != "admin";
	</select>
	
	<select id="boardCheckIdFindList" resultType="Map" parameterType="String">
		SELECT idx, title, write_date
		FROM notice_board
		WHERE user_id = #{user_id} and is_delete = 0 
		ORDER BY idx ASC;
	</select>
	
	<select id="searchBoards"  resultType="Map">
		SELECT idx, title, write_date
		FROM notice_board
		WHERE title LIKE CONCAT('%',#{searchWord},'%')
		ORDER BY idx ASC
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="searchBoardCount" resultType="Integer" parameterType="String">
		SELECT count(*) 
		FROM notice_board 
		where is_delete = 0 and
		title LIKE CONCAT('%',#{boards_Name},'%');
	</select>
	
	
	
	<select id="cartFindList" resultType="Map">
		SELECT cart.shoes_id, cart.quantity, shoes.final_price, cart.size, shoes.shoes_name
		FROM cart, shoes
		WHERE cart.is_delete = 0 and cart.shoes_id = shoes.shoes_id
		ORDER BY cart.cart_id ASC
	</select>
	
	
	
	
	<select id="boardFindList" resultType="Map">
		SELECT idx, title, write_date
		FROM notice_board
		WHERE is_delete = 0
		ORDER BY idx ASC
		LIMIT #{startRow},#{pageSize};
	</select>
	
	<select id="boardCount" resultType="Integer">
		SELECT count(*) FROM Graduation_WorkDB.notice_board where is_delete = 0
	</select>
	
	<select id="cartFindShoesId">
		SELECT shoes_id
		FROM cart
		WHERE shoes_id = #{shoes_id}
	</select>
	
	<delete id="FindListIsDelete">
		delete
		from notice_board
		where is_delete = 1
	</delete>
	
	<!-- MyBatis XML에서 SQL 업데이트 쿼리 정의 -->
	<update id="cartUpdateIsDelete">
	    update cart
	    set is_delete = 1
	    where shoes_id = #{shoes_id}
	</update>
	
	<select id="boardIdxData" resultType="Map">
		select title, content, write_date
		from notice_board
		where idx = #{idx}
	</select>
	
	<delete id="cartDeleteShoesId">
		delete from cart	 
		where is_delete = 1
	</delete>
	
	<update id="noticeBoardIdxResort">
		SET @row_number = 0;
		
		UPDATE notice_board
		SET idx = (@row_number := @row_number + 1)
		ORDER BY idx; 
	</update>
	
	<select id="numberOfCart" resultType="int">
		select MAX(cart_id)
		from cart
	</select>
</mapper>