<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.rubypaper.mapper.BoardMapper">

	<insert id="boardInsert">
		INSERT INTO notice_board (idx, title, content, write_date, user_id)
		SELECT COALESCE(MAX(idx) + 1, 1), #{title}, #{content}, #{write_date}, #{user_id}
		FROM notice_board
	</insert>
	
	<select id="boardFindList" resultType="Map">
		select idx, title, write_date
		from notice_board order by idx asc
	</select>
	
	<select id="boardCount" resultType="Integer">
		select count(*)
		from notice_board
	</select>
</mapper>