<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5조신발점 좋아요 페이지(런칭캘린더 페이지 사용)</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

<script src="js/viewer-api.js"></script>
	<script>
		window.addEventListener('load', function () {
			var allElements = document.getElementsByTagName('*');
			Array.prototype.forEach.call(allElements, function (el) {
				var includePath = el.dataset.includePath;
				if (includePath) {
					var xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function () {
						if (this.readyState == 4 && this.status == 200) {
							el.outerHTML = this.responseText;
						}
					};
					xhttp.open('GET', includePath, true);
					xhttp.send();
				}
			});
		});

	</script>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="sLogin">로그인</a>
                <a href="#">FAQ</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>KRW <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>KRW</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
			<a href="shopping-cart ver.1.html"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>상품 수령 후, 7일 이내 교환 및 반품이 가능합니다.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>상품 수령 후, 7일 이내 교환 및 반품이 가능합니다.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a th:if="${login}" th:hrf="@{sLogout}">로그아웃</a>
                				<a th:unless="${login}" th:href="@{sLogin}">로그인</a>
                                <a href="#">FAQ</a>
                            </div>
                            <div class="header__top__hover">
                            <!-- 임의에 dto 객체를 저렇게 줫는데 user.name이 아닌 user.uid 나 userDTO.name 같이 지정해서 백에서 정해주길
                            	login은 컨트롤러 쪽에서 로그인 처리를 할때 모델에 true false 처럼 참 거짓으로 해서 불타임으로 보내주면 될듯 -->
                                <span th:if="${login}" th:text="${user.name} + '님 어서오세요'"></span>
    							<span th:unless="${login}" th:text="어서오세요"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="main"><img src="img/logo.png" alt="" width="140" height="60" class="d-inline-block align-text-top rounded img-thumbnail"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="main">메인화면</a></li>
                            <li><a href="sMain">신발</a>
                            <li><a href="noticdBoard">게시판 </a></li>
                            <li><a href="sContact">매장찾기</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
							<a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
							<a href="like"><img src="img/icon/heart.png" alt=""></a>
							<a href="sCart"><img src="img/icon/cart.png" alt=""></a>
							<a href="mypage"><img src="img/icon/my.png" style="width: 20px; height: 20px;"></a>
						</div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="img/bglab2.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Favorites</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- 보통 신발 브랜드에서는 홈페이지에 발매정보(런칭 캘린더)를 제공한다. 본 파일의 목적과 동일.-->
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
            <!-- 
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-6.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/fire.png" alt=""> 4명이 이 상품에 관심이 있습니다 </span>
                            <h5>뉴발란스 GANNI M1906RGG</h5>
                            <a href="#">상세 페이지</a>&nbsp; / &nbsp;<a href="#"><img src="img/icon/heart.png" alt="">&nbsp;구독 해제</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/fire2.png" alt=""> <10명 이상의 관심> </span>
                            <h5>나이키 에어조던1 아시아블루</h5>
                            &nbsp;<a href="#"><img src="img/icon/heart.png" alt="">&nbsp;구독 해제</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/last.png" alt=""> </span>
                            <h5>나이키 코르테즈 VI1M-C2</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                 -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <iframe id="api-frame-1" width="360" style="border:none"
										class="d-inline-block align-text-top blog__item__pic set-bg">
						</iframe>
                        <div class="blog__item__text mt-1">
                            <span><img src="img/icon/snow.png" alt=""> 아무도 이 상품에 관심이 없습니다</span>
                            <h5>뉴발란스 U72RE9</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/logo2.png" alt=""></a>
                        </div>
                        <p>5조신발점은 리퍼, 중고제품이 아닌 <br><span style="color:rgb(81, 255, 0)">새상품</span>만을 판매합니다.</p>
                        
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>상품목록</h6>
                        <ul>
                            <li><a href="#">남성 신발</a></li>
                            <li><a href="#">여성 신발</a></li>
                            <li><a href="#">유아용 신발</a></li>
                            <li><a href="#">할인 제품</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>본사정책</h6>
                        <ul>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="#">결제 수단</a></li>
                            <li><a href="#">배송 정책</a></li>
                            <li><a href="#">반품 및 교환</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>구독</h6>
                        <div class="footer__newslatter">
                            <p>신제품 정보 및 <span style="color:rgb(81, 255, 0)">할인</span>과 <span style="color:rgb(81, 255, 0)">프로모션</span> 등을 빠르게 받아보고 싶으시다면?</p>
                            <form action="#">
                                <input type="text" placeholder="이메일">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | 5조신발점 <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">ih</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="검색">
            </form>
        </div>
    </div>
    <!-- Search End -->
    
    <script type="text/javascript">
    
    function replaceWith3DModel(uid, iframeId) {
        return new Promise(function(resolve, reject) {
            var iframe = document.getElementById(iframeId);
            var client = new Sketchfab(iframe);

            client.init(uid, {
                success: function onSuccess(api) {
                    api.start();
                    api.addEventListener('viewerready', function() {
                        console.log(iframeId + ' 3D 모델이 준비되었습니다.');
                        resolve(); // Promise가 성공했음을 알립니다.
                    });
                },
                error: function onError() {
                    console.log(iframeId + ' 3D 모델 초기화 오류');
                    reject(); // Promise가 실패했음을 알립니다.
                },
                // 초기화 매개변수 설정
                graph_optimizer: 1, //그래프
                merge_materials: 1, //재질 병합
                material_packing: 1 //재질 패킹
            });
        });
    }
    
    function loadModels() {
        // 모든 모델을 비동기식으로 로드합니다.
        Promise.all(imageToModelMapping.map(function(mapping) {
            return replaceWith3DModel(mapping.uid, mapping.iframeId);
        })).then(function() {
            // 모든 모델이 로드되었을 때 이 부분이 실행됩니다.
            console.log('모든 3D 모델이 로드되었습니다.');
        }).catch(function() {
            // 하나 이상의 모델 로딩에 실패한 경우 이 부분이 실행됩니다.
            console.log('모든 3D 모델을 로드하는 동안 오류가 발생했습니다.');
        });
    }
    
    
    var imageToModelMapping = [
        { uid: 'b404398cf8ab4773b4b15230a2f7c292', iframeId: 'api-frame-1' },
        { uid: 'faef9fe5ace445e7b2989d1c1ece361c', iframeId: 'api-frame-2' },
        { uid: 'c00345fd64414c4e8895c6aaa262e4d5', iframeId: 'api-frame-3' },
        { uid: '7afcec9329d54afe99b6db2e30346642', iframeId: 'api-frame-4' },
        { uid: 'b404398cf8ab4773b4b15230a2f7c292', iframeId: 'api-frame-5' },
        { uid: '9c1f56ac53524da09673ce46c8410ac9', iframeId: 'api-frame-6' },
        
    ];

    // 모든 모델을 한꺼번에 로드합니다.
    loadModels();
    
    </script>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>