<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5조 신발점 마이페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script src="js/imgselect.js"></script>
	
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

	<link rel="stylesheet" href="css/mypage.css" type="text/css">
	
</head>

	<body>
		<script src="js/numeral.js"></script>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
	
		<!-- Offcanvas Menu Begin -->
		<div class="offcanvas-menu-overlay"></div>
		<div class="offcanvas-menu-wrapper">
			<div class="offcanvas__option">
				<div class="offcanvas__links">
					<a href="#">로그인</a>
					<a href="#">FAQ</a>
				</div>
				<div class="offcanvas__top__hover">
					<span>KRW <i class="arrow_carrot-down"></i></span>
					<ul>
						<li>USD</li>
						<li>EUR</li>
						<li>KRW</li>
					</ul>
				</div>
			</div>
			<div class="offcanvas__nav__option">
				<a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
				<a href="#"><img src="img/icon/heart.png" alt=""></a>
				<a href="shopping-cart ver.1.html"><img src="img/icon/cart.png" alt=""></a>
				<div class="price">0 원</div>
			</div>
			<div id="mobile-menu-wrap"></div>
			<div class="offcanvas__text">
				<p>상품 수령 후, 7일 이내 교환 및 반품이 가능합니다.</p>
			</div>
		</div>
		<!-- Offcanvas Menu End -->
	
		<!-- Header Section Begin -->
		<header class="header">
			<div class="header__top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-7">
							<div class="header__top__left">
								
							</div>
						</div>
						<div class="col-lg-6 col-md-5">
							<div class="header__top__right">
                            <div class="header__top__links">
                                <a th:if="${userID}" th:href="@{/LogoutServlet}" id="sendData">로그아웃</a> <!--th:href="@{sLogout} 로그 아웃 서블릿으로-->
                				<a th:unless="${userID != null}" th:href="@{sLogin}">로그인</a>
                            </div>
                            <div class="header__top__hover">
                            <!-- 임의에 dto 객체를 저렇게 줫는데 user.name이 아닌 user.uid 나 userDTO.name 같이 지정해서 백에서 정해주길
                            	login은 컨트롤러 쪽에서 로그인 처리를 할때 모델에 true false 처럼 참 거짓으로 해서 불타임으로 보내주면 될듯 -->
                                <span th:if="${userID}" th:text="${userID} + '님 어서오세요'"></span>
    							<span th:unless="${userID}" th:text="어서오세요"></span>
                            </div>
                        </div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="header__logo">
							<a th:href="@{main}"><img src="img/logo2.png" alt="" width="140" height="60" class="d-inline-block align-text-top rounded img-thumbnail"></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<nav class="header__menu mobile-menu">
							<ul>
								<li><a href="main">메인화면</a></li>
	                            <li><a href="sMain">신발</a>
	                            <li><a href="noticdBoard">게시판 </a></li>
	                            <li><a href="sContact">매장찾기</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3 col-md-3">
						<div class="header__nav__option">
							<a href="like"><img src="img/icon/heart.png" alt=""></a>
							<a href="sCart"><img src="img/icon/cart.png" alt=""></a>
							<a href="mypage"><img src="img/icon/my.png" style="width: 20px; height: 20px;"></a>
						</div>
					</div>
				</div>
				<div class="canvas__open"><i class="fa fa-bars"></i></div>
			</div>
		</header>
		<!-- Header Section End -->
	
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-blog set-bg" data-setbg="img/bg-3.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>My page</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
	
		<!-- board Section Begin -->
		<div class="container light-style flex-grow-1 container-p-y">
<br>
            <h4 class="font-weight-bold py-3 mb-4">
                마이페이지
            </h4> 
            <div class="card overflow-hidden">
              <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                  <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>내 계정</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-2"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>작성 글 목록</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-order"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart mr-2"><circle cx="8" cy="21" r="2"></circle><circle cx="20" cy="21" r="2"></circle><path d="M5.67 6H23l-1.68 8.39a2 2 0 0 1-2 1.61H8.75a2 2 0 0 1-2-1.74L5.23 2.74A2 2 0 0 0 3.25 1H1"></path></svg>주문내역</a>
                   <a class="list-group-item list-group-item-action"  href="findPw"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-2"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>비밀번호 바꾸기</a>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
        			<form action="MypageInfoUpdateServlet" method="POST">
                      <hr class="border-light m-0">
        
                      <div class="card-body">
                        <div class="form-group">
						  <div th:each="board : ${list}">
                          <label for="id" class="form-label">아이디</label>
                          <input name="id" type="text" class="form-control mb-1" th:value="${board.user_id}" disabled>
                        
                        <div class="form-group">
                          <label id="name" class="form-label">이름</label>
                          <input name="name" type="text" class="form-control" placeholder="성태현" th:value="${board.name}" readonly>
                        </div>
                        <div class="form-group">
                          <label id="birthday" class="form-label">생일</label>
                          <input name="birthday" type="date" class="form-control"  th:value="${board.birthday}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">E-mail</label>
                            <input name="email" type="email" class="form-control mb-1" placeholder="n23basdl@gmail.com" th:value="${board.email}" readonly>
                          </div>
                          
                          <div class=""> <!-- ??? -->
                        </div>
                        <div class="form-group">
                          <label for="adress" class="form-label">주소</label>
                          <input name="adress" type="text" class="form-control" placeholder="서울시 강남구 테헤란로" th:value="${board.adress}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="detail_adress" class="form-label">상세주소</label>
                            <input name="detail_adress" type="text" class="form-control" placeholder="무적아파트 1902-802" th:value="${board.detail_adress}" readonly>
                          </div>
                         
                          <div class="form-group">
                            <label for="phone" class="form-label">전화번호</label>
                            <input name="phone" type="tel" class="form-control" th:value="${board.phone}" readonly>
                          </div>
                          </div>
                          <div class="text-right mt-3">
							  <span id="stored_button_add">
				              	<button type="button" class="btn btn-dark" onclick="updateButton()">수정</button>&nbsp;&nbsp; <!-- 업데이트 집어넣을 예정  -->
				              </span>
				          </div><br>
                      </div>
                      
        			</div>
                    </div>
                    </form>
                    
                    <div class="tab-pane fade" id="account-info">
                      <div class="card-body pb-2">
                        <!-- 여기다가 자기가 작성한 게시글 목록잉 들어갈 예정 / 작성일자, 조회수, 좋아요 -->
                       <section class="notice">
						 <div class="page-title">
							  <div class="container">
								  <h3>작성 글 목록</h3>
							  </div>
				  		 </div>
			  
					 
					<!-- board list area -->
					  <div id="board-list">
						  <div class="container">
							  <table class="board-table" >
								  <thead>
								  <tr>
									  <th scope="col" text-align="left">제목</th>&nbsp;
									  <th scope="col">등록일</th>
								  </tr>
								  </thead>
								  <tbody>
									<tr th:each="board2 : ${boardList}">
										<td onClick="submitData(this)" th:text="${board2.title}" th:data-link-id="${board2.idx}">공지1</td>&nbsp;
										<td th:text="${board2.write_date}">2023.10.29</td>
									</tr> 
								  </tbody>
							  </table>
							  <form action="IsLoginCheckServlet" method="post" style="text-align: right;" class="mt-2">
								<button type="submit" class="btn btn-dark">글쓰기</button> 
							  </form>
							
						  </div>
					  </div>
	
					  <!--type1-->
					<!--type2-->
			

			  </section>
                      </div>
                      <hr class="border-light m-0">
                      <br><br><br><br><br>
              
                    </div>
                    
				<div class="tab-pane fade" id="account-order"> <!-- mypage.css 에 있는 notice 세션 스타일 공유 -->
                   <div class="card-body pb-2">
                       <section class="notice">
						 <div class="page-title">
							  <div class="container">
								  <h3>주문내역</h3><br>
							  </div>
				  		 </div>
			  
					 
						<!-- board list area -->
					  	<div id="board-list">
						  	<div class="container">
							  	<table class="board-table">
								  <thead>
								  	<tr>
									 	<th class="col-4">상품명</th>
									  	<th class="col-1">수량</th>
									  	<th class="col-1">사이즈</th>
									  	<th class="col-2">가격</th>
									  	<th class="col-2">주문날짜</th>
									  	<th class="col-2">후기작성</th>
								  	</tr>
								  </thead>
								  <tbody >
									<tr th:each="orderList : ${orderList}">
										<!-- sDetails 페이지 데이터를 셋 하려면, jsonData 라는 이름으로 세션을 
										     set 하면 된다. - 관리자 페이지도 동일하게 적용하자 ! -->
										<td onclick="check()" th:text="${orderList.shoes_name}">제품</td>
										<td th:text="${orderList.quantity}">수량</td>
										<td th:text="${orderList.size}">사이즈</td>
										<td th:text="${#numbers.formatInteger(orderList.price, 3, 'COMMA')+' 원'}">가격</td>
										<td th:text="${orderList.order_date}">주문 날짜</td>
										<td><button class="btn btn-outline-dark btn-sm" onclick="pop()">후기작성</button></td> <!-- 따로 ratingpopup.js 에 pop 으로 분리 -->
									</tr> 
								  </tbody>
							  	</table>
						  	</div>
					  	</div>
	
					  <!--type1-->
					<!--type2-->
			  		  </section>
                     </div>
                      <hr class="border-light m-0">
                      <br><br><br><br><br>
                    </div>
                    
                    <div class="tab-pane fade" id="account-social-links">
                      <div class="card-body pb-2">
        
                      </div>
                    </div>
                    <div class="tab-pane fade" id="account-notifications">
                      <div class="card-body pb-2">
                        <div class="form-group">
                        </div>
                      </div>
                      <hr class="border-light m-0">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            
        
          </div>
			
		<!-- board Section End -->
	
		<!-- Footer Section Begin -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="footer__about">
							<div class="footer__logo">
								<a href="#"><img src="img/logo2.png" alt=""></a>
							</div>
							<p>5조신발점은 리퍼, 중고제품이 아닌 <br><span style="color:rgb(81, 255, 0)">새상품</span>만을 판매합니다.</p>
							
						</div>
					</div>
					<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
						<div class="footer__widget">
							<h6>상품목록</h6>
							<ul>
								<li><a href="#">남성 신발</a></li>
								<li><a href="#">여성 신발</a></li>
								<li><a href="#">유아용 신발</a></li>
								<li><a href="#">할인 제품</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<div class="footer__widget">
							<h6>본사정책</h6>
							<ul>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="#">결제 수단</a></li>
								<li><a href="#">배송 정책</a></li>
								<li><a href="#">반품 및 교환</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
						<div class="footer__widget">
							<h6>구독</h6>
							<div class="footer__newslatter">
								<p>신제품 정보 및 <span style="color:rgb(81, 255, 0)">할인</span>과 <span style="color:rgb(81, 255, 0)">프로모션</span> 등을 빠르게 받아보고 싶으시다면?</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="footer__copyright__text">
							<p>Copyright ©
								<script>
									document.write(new Date().getFullYear());
								</script>2020
								All rights reserved | 5조신발점 <i class="fa fa-heart-o"
								aria-hidden="true"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer Section End -->
	
		<!-- Search Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch">+</div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="검색">
				</form>
			</div>
		</div>
		<!-- Search End -->
		<script>
			
			function check()
			{
				/* 여기에서 서블릿으로 가서, 쿼리를 이용해서 불러온 신발의 정보를
				 셋 한 다음에, jsonData라는 세션에 담아야 한다.*/
				console.log("sss");
			}
			
			var xhr2 = new XMLHttpRequest();
			function updateButton()
			{
			    // 수정 버튼을 클릭하면 모든 readonly 속성을 제거합니다.
			    var inputFields = document.querySelectorAll("input[readonly]");
			    
			    for (var i = 0; i < inputFields.length; i++) 
			    {
			        inputFields[i].removeAttribute('readonly');
			    }
			    
			    document.getElementById("stored_button_add").innerHTML = '<button type="submit" class="btn btn-default" onclick=“stored()">저장</button>';
			};
			
			function submitData(element){
				
				var linkId = element.getAttribute("data-link-id");
				console.log("linkId : ", linkId);
				
				xhr2.onreadystatechange = function () 
				{
					// 응답이 되었으면,
					if (xhr2.readyState === 4) 
					{
						object = xhr2.responseText;
						window.location='wDetails'
					}
				}
					
				xhr2.open("GET", "/BoardDetailPageSetServlet?linkId=" + linkId, true);
				xhr2.send(null);
				
			}
			
			
		</script>
	
	
	
		<!-- Js Plugins -->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.nice-select.min.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.countdown.min.js"></script>
		<script src="js/jquery.slicknav.js"></script>
		<script src="js/mixitup.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/ratingpopup.js"></script>
	</body>

</body>
</html>