<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pw Update Page</title>
</head>
<body>

	<div id="passwordRequirements">
       			 <!-- 비밀번호 조건 메시지를 여기에 표시합니다. -->
    </div>
    		
	 <form action="ReviseInfoServlet" method="post">
		<label for="input_pw">당신의 pw를 입력하여주세요. :</label>
		<input type="text" class="form-control" id="input_pw" name="input_pw" placeholder="Enter pw">
		<button type="submit" id="signupButton">비밀번호 확인</button>
	 </form>
	 
	 <script>
		 
		const passwordField = document.getElementById('input_pw');
	    const passwordRequirements = document.getElementById('passwordRequirements');
	    const signupButton = document.getElementById('signupButton');
	    
	    
	    passwordField.addEventListener('input', function() {
			
	        const password = passwordField.value;
	        const requirements = [];
	        
	        // 비밀번호 조건 검사 및 메시지 추가
	         if (password.length < 8) {
				requirements.push('8자 이상 이어야 합니다');
				
	        }else if( password.length >= 12){
					requirements.push('8 ~ 12자 이하 이어야 합니다.');
			}
	        if (!/[A-Z]/.test(password)) {
	            requirements.push('대문자를 포함해야 합니다.');
	        }
	        if (!/[a-z]/.test(password)) {
	            requirements.push('소문자를 포함해야 합니다.');
	        }
	        if (!/[0-9]/.test(password)) {
	            requirements.push('숫자를 포함해야 합니다.');
	        }
	        
	        // 메시지 업데이트
	        passwordRequirements.innerHTML = requirements.join('<br>');
	        
	        // 비밀번호 조건을 충족할 때 버튼 활성화, 그렇지 않으면 비활성화
	        signupButton.disabled = requirements.length > 0;
    	});
	</script>
</body>
</html>